* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background: #999;
  flex: 0 0 auto;
}

footer {
  text-align: center;
  font-size: 16px;
  position: relative;
  bottom: 0;
  /* 4. 设置页脚position为absolute之后，再将其bottom值设为0，即可使其处于页面的底部 */
  width: 100%;
  background-color: #457B9D;
  flex: 0 0 auto;
}